.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bx{
    width: 300px;
    height: 300px;
}

td,th{
    border: 1px solid black;
    padding: 25px;
}

table{
    border-collapse: collapse;
    margin: auto;
}